// Portrait under 540px wide
.carousel-numbers {
	align-self: center;
	background-color: red;
	grid-column: 2 / 12;
	grid-row: 33 / 34;
	justify-self: center;

	.numbers {
		color: #f0d109;
		font-size: 175%;
		padding-left: 1.25rem;
		text-decoration: none;
	}	

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		align-self: center;
		background-color: red;
		font-size: 60%;
		grid-column: 1 / 7;
		grid-row: 10/ 11;
		justify-self: start;	
	}
}
