// Portrait under 540px wide
.carousel-numbers {
	align-self: center;
	background-color: red;
	grid-column: 2 / 12;
	grid-row: 33 / 34;
	justify-self: center;

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		align-self: center;
		background-color: red;
		grid-column: 1 / 6;
		grid-row: 9 / 10;
		justify-self: center;
	}
}

.numbers {
  color: #f0d109;
  font-size: 175%;
  padding-left: 1rem;
  text-decoration: none;

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		color: #f0d109;
		font-size: 175%;
		padding-left: 1rem;
		text-decoration: none;
	}
}