// Portrait under 540px wide
footer {
	background-color: black;
	font-size: 12px;
	grid-column: 1 / -1;
	grid-row: 34 / 36;
	align-self: center;
	text-align: center;

	.email {
		padding: .25rem;
	}

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		grid-column: 1 / -1;
		grid-row: 13 / 15;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		padding: .5rem;

		.email {
			grid-column: 1 / -1;
			grid-row: 1 / 2;
			// padding: 1rem;
			text-align: start;
		}

		.copyright {
			grid-column: 1 / -1;
			grid-row: 1 / 2;
			// padding: 1rem;
			text-align: end;
		}
	}

}

