.hero-img {
	background-color: orange;
	grid-column: 7 / 13;
	grid-row: 1 / 8;
}

// .hero-overlay {
//   grid-column: 1 / 13;
// 	grid-row: 7 / 10;
//   background-color: rgba(255,249,206,0.5);
// 	width: 100%;
//   z-index: 10;
// }

