// Portrait under 540px wide
.hero-img {
	background-color: black;
	grid-column: 2 / 12;
	grid-row: 5 / 18;

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		background-color: black;
		grid-column: 7 / 13;
		grid-row: 1 / 13;
		// margin-left: -1.2rem;
	}
}

.hero-img img{
	height: auto;
	// max-width: 462px;
	max-height: 590px;
	width: 100%;
	z-index: -1;
}

