// Portrait under 540px wide
.projects-photos {
	align-self: center;
	background-color: grey;
	font-size: 2rem;
	grid-column: 1 / 11;
	grid-row: 21 /23;
	padding-left: 1rem;

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		align-self: end;
		font-size: 2rem;
		grid-column: 1 / 6;
		grid-row: 4 /5;
		// padding: 1rem 0 .5rem 1rem;
	}
}
