// Portrait under 540px wide
.projects-photos {
	align-self: center;
	background-color: grey;
	font-size: 2rem;
	grid-column: 1 / 11;
	grid-row: 21 /23;
	margin-top: .75rem;
	padding: .5rem 0 .6rem 1rem;

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		align-self: end;
		font-size: 2rem;
		grid-column: 1 / 6;
		grid-row: 3 /4;
		margin-top: 2rem;
	}
}

