// Portrait under 540px wide
.projects-photos {
	align-self: center;
	background-color: black;
	font-size: 1.6rem;
	grid-column: 1 / 13;
	grid-row: 21 /23;
	margin-top: .75rem;
	padding: 2.1rem 9rem 1.5rem 1rem;

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		align-self: end;
		font-size: 1.3rem;
		grid-column: 1 / 7;
		grid-row: 4 /5;
		//  margin-top: 2rem;
	}

	@media only screen and (min-width: 643px) {
			padding: .3rem .5rem;
		}
}

