// Portrait under 540px wide
.social-link {
	background-color: brown;
	grid-column: 1 / 13;
	grid-row: 18 / 21;
	display: grid;
	grid-template-columns: .5fr repeat(12, 1fr) .5fr;
	grid-column-rows: repeat(2, 1fr);
	// padding: .5rem 0 .25rem 1rem;

	// // Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		background-color: brown;
		grid-column: 1 / 7;
		grid-row: 11 / 13;
		padding: .25rem .25rem 0 0;
	}
}

// .social-link > div {
// 	padding-left: .5rem;
// }

.aa-img {
	grid-column: 2 / 7;
	grid-row: 1 / 2;
	margin-left: -.3rem;
	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		grid-column: 1 / 6;
		grid-row: 1 / 2;
	}
}

.mv-img {
	grid-column: 7 / 12;
	grid-row: 1 / 2;
	margin-left: -.5rem;

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		grid-column: 6 / 11;
		grid-row: 1 / 2;
	}
}

.email-img {
	grid-column: 12 / 15;
	grid-row: 1 / 2;
	margin-left: -1.4rem;

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		grid-column: 11 / 15;
		grid-row: 1 / 2;
	}
}

.li-img {
	grid-column: 2 / 7;
	grid-row: 2 / 3;
	margin-left: -.3rem;

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		grid-column: 1 / 6;
		grid-row: 2 / 3;
	}
}

.fb-img {
	grid-column: 6 / 12;
	grid-row: 2 / 3;
	margin-left: .75rem;	

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		grid-column: 6 / 11;
		grid-row: 2 / 3;	
	}
}

.tw-img {
	grid-column: 12 / 15;
	grid-row: 2 / 3;
	margin-left: -1.8rem;

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		grid-column: 11 / 14;
		grid-row: 2 / 3;
	}
}

.social-link > div {
	align-self: center;
}


// .social-link > div {
// 	align-self: center;
