// Portrait under 540px wide
.social-link {
	background-color: black;
	grid-column: 1 / 13;
	grid-row: 18 / 22;
	display: grid;
	grid-template-columns: .5fr repeat(12, 1fr) .5fr;
	grid-column-rows: repeat(2, 1fr);	
	padding: 0 0 2rem;
	z-index: 2;

	// // Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		grid-column: 1 / 7;
		grid-row: 11 / 13;
		padding: .25rem .25rem 0 0;
	}
}

.aa-img {
	grid-column: 2 / 7;
	grid-row: 1 / 2;
	margin-left: -.3rem;
	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		grid-column: 1 / 6;
		grid-row: 1 / 2;

		img {
			height: 90%; 
			width: 90%;
			margin-left: .7rem;
		} 

		@media only screen and (min-width: 730px) {
			img {
		      height: 75%; 
		      width: 75%;
			} 	
		}
	}
}

.mv-img {
	grid-column: 7 / 12;
	grid-row: 1 / 2;
	margin-left: -.5rem;

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		grid-column: 6 / 11;
		grid-row: 1 / 2;

		img {
			width: 80%;
			height: 80%; 
			margin-left: 1.6rem;
		} 

		@media only screen and (min-width: 730px) {
			img {
		      height: 65%; 
		      width: 65%;
			} 	
		}
	}
}

.email-img {
	grid-column: 12 / 15;
	grid-row: 1 / 2;
	margin-left: -1.4rem;

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		grid-column: 11 / 15;
		grid-row: 1 / 2;
		margin-left: 1rem;

		img {
			height: 140%; 
			width: 140%;
		} 

		@media only screen and (min-width: 730px) {
			img {
				height: 120%;
		      	width: 120%;
		      	margin-left: -.5rem; 
			} 	
		}
	}
}

.li-img {
	grid-column: 2 / 7;
	grid-row: 2 / 3;
	margin-left: -.3rem;

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		grid-column: 1 / 6;
		grid-row: 2 / 3;

		img {
			height: 100%; 
			width: 100%;
			margin-left: .7rem;
		} 

		@media only screen and (min-width: 730px) {
			img {
		      height: 80%; 
		      width: 80%;
			} 	
		}
	}
}

.fb-img {
	grid-column: 6 / 12;
	grid-row: 2 / 3;
	margin-left: 1.1rem;	

	// img {
	// 	height: 60%;
	// 	width: 60%;
	// }

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		grid-column: 6 / 11;
		grid-row: 2 / 3;	
		margin-left: .75rem;	

		img {
	      height: 80%; 
	      width: 80%;
	      margin-left: -.2rem;
		} 	

		@media only screen and (min-width: 730px) {
			img {
		      height: 65%; 
		      width: 65%;
			} 	
		}
	}
}

.tw-img {
	grid-column: 12 / 15;
	grid-row: 2 / 3;
	margin-left: -1.8rem;

	// Media Queries for Landscape
	@media only screen and (min-width: 540px) {
		grid-column: 11 / 15;
		grid-row: 2 / 3;
		margin-left: .5rem;

		img {
			height: 125%; 
			width: 125%;
		} 

		@media only screen and (min-width: 730px) {
			img {
		      height: 115%; 
		      width: 115%;
			} 	
		}
	}
}

.social-link > div {
	align-self: center;
}
