<div class="carousel-numbers">
  <a href="#" class="numbers number1">1</a>
  <a href="#" class="numbers number2">2</a>
  <a href="#" class="numbers number3">3</a>
  <a href="#" class="numbers number4">4</a>
  <a href="#" class="numbers number5">5</a>
  <a href="#" class="numbers number6">6</a>
  <a href="#" class="numbers number7">7</a>
  <a href="#" class="numbers number8">8</a>
  <a href="#" class="numbers number9">9</a>
  <a href="#" class="numbers number10">10</a>
</div>