<div class="subheader">
	<div class="item actor">Actor</div>
	<div class="item divider-1">o</div>
	<div class="item vo-artist">Voiceover Artist</div>
	<div class="item divider-2">o</div>
	<div class="item singer">Singer</div>
	<div class="item divider-3">o</div>
	<div class="item dancer">Dancer</div>
	<div class="item divider-4">o</div>
	<div class="item stage-combatant">Stage Combatant</div>
</div>

